<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
</head>
<body>
    <h1>회원 정보</h1>
    <a href="/user">Home</a>
    <h4>ID 수정 불가능, Password, Name 수정 가능</h4>
    ID <input type="text" name="" id=""> <br>
    Password <input type="password" name="" id=""> <br>
    Name <input type="text" name="" id=""> <br>
    <button>Edit</button>
    <button>Delete</button>
</body>
</html>