// 참고. css 코드
$color-blue-body1: rgb(0, 0, 166);
$color-blue-body2: rgb(36, 61, 206);
$color-blue-body3: rgb(52, 118, 231);
$color-blue-body4: rgb(47, 146, 233);
$color-blue-body5: rgb(140, 191, 253);

@mixin circle() {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@mixin position($top, $left) {
  top: 100px + $top;
  left: 100px + $left;
}

@mixin eye($w, $h, $color) {
  width: $w;
  height: $h;
  background-color: $color;
  position: relative;
}

.larva {
  position: relative;
  .body {
    @include circle();
    position: absolute;

    &.body.body1 {
      background-color: $color-blue-body1;
      @include position(0, 0);

      .eye {
        @include circle();
        position: absolute;

        &.eye-white {
          @include eye(40px, 40px, white);
          left: 20px;
          top: 20px;
        }

        &.eye-black {
          @include eye(20px, 20px, black);
          top: 10px;
        }
      }
    }

    &.body.body2 {
      background-color: $color-blue-body2;
      @include position(50px, 60px);
    }

    &.body.body3 {
      background-color: $color-blue-body3;
      @include position(90px, 100px);
      z-index: 8;
    }

    &.body.body4 {
      background-color: $color-blue-body4;
      @include position(140px, 120px);
      z-index: 9;
    }

    &.body.body5 {
      background-color: $color-blue-body5;
      @include position(180px, 180px);
      z-index: 10;
    }
  }
  .grass {
    position: absolute;
    top: 260px;
    left: 0;
  }
}
