<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        img {
            width: 500px;
            height: 500px;
        }
    </style>
    <title>AWS S3</title>
</head>
<body>
    <form action="">
        <input type="file" id="files" multiple> <br>
        <button type="button" onclick="fileUpload()">업로드</button> <br>
        <!-- 업로드 되면 보여줄 곳 -->
        <div class="result"></div>
    </form>

    <script>
        const resultBox = document.querySelector('.result');
        const img = document.createElement('img');
        

        async function fileUpload() {
            const file = document.querySelector('#files');
            console.log(file.files);
            
            const formData = new FormData();
            // 파일 여러개니까 반복문 사용
            for(let i=0; i < file.files.length; i++) {
                formData.append('files', file.files[i]);
            }


            // axios 요청
            try {
                const res = await axios ({
                    method: 'POST',
                    url: '/upload',
                    data: formData,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                console.log('res.data >', res.data); // [ {}, {} ] 배열의 형태 => location: src속성 값으로
                // 그냥 내가 한 것
                // if(res.data) {
                //     img.src = res.data.location;

                //     resultBox.appendChild(img);
                // }
            // GPT 참고
            //     if (res.data && res.data.length > 0) {
            //     for (let i = 0; i < res.data.length; i++) {
            //         const img = document.createElement('img');
            //         img.src = res.data[i].location;
            //         resultBox.appendChild(img);
            //     }
            // }
                // 배열이니까 foreach 사용
            res.data.forEach((elem) => {
                const img = document.createElement('img');
                img.src = elem.location;
                img.alt = elem.originalname;
                img.style.width = '500px';

                resultBox.appendChild(img);
            })

            } catch(err) {
                console.log('err > ', err);
            }
        }
    </script>
</body>
</html>