<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실습</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <input type="text" name="Id" id="" placeholder="아이디">
        </div>
        <div>
            <input type="text" name="Pw" id="" placeholder="비밀번호">
        </div>
        <div>
            <input type="text" name="Name" id="" placeholder="이름">
        </div>
        <div>
            <input type="text" name="Age" id="" placeholder="나이">
        </div>
        <input type="file" name="userfile" id="">
        <br><br>
        <button>회원가입</button>
    </form>
</body>
</html>