<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- visitor.js -->
    <script defer src="/static/signup.js"></script>
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>

    <form name="form-register">
        ID <input type="text" name="userid" id="userid" required> <br>
        Password <input type="password" name="pw" id="password" required> <br>
        Name <input type="text" name="name" id="nickname" required> <br>
        <button type="button" onclick="register()">Register</button> <br>
    </form>
    <a href="/user/signin">Login</a>

    <script>
        function register() {
            const form = document.forms['form-register'];

            //
            if(!form.checkValidity()) {
                form.reportValidity();
                return;     // 뒤에 꺼 실행 안되게 리턴으로 마무리.
            }
            axios({
                method: 'POST',
                url: '/user/signup',
                data: {
                    userid: form.userid.value,
                    pw: form.pw.value,
                    name: form.name.value
                }
            }).then((res) => {
                console.log(res.data);

                // alert 성공 메시지
                alert('회원가입 성공!');
                // 회원가입 성공시 로그인 페이지로 이동.
                document.location.href = '/user/signin';
                
            })
        }
    </script>
</body>
</html>